@model shoppingAPP.Models.EF.Traininginfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Traininginfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyFavTechSoFar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyFavTechSoFar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyComments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
