@model IEnumerable<shoppingAPP.Models.EF.Traininginfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyFavTechSoFar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyComments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyFavTechSoFar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyFeedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyComments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
